[submodule "dsh-plugin-ollama-usage"]
	path = dsh-plugin-ollama-usage
	url = https://github.com/CJ-SH/dsh-plugin-ollama-usage.git
[submodule "dsh-plugin-trellis-statusline"]
	path = dsh-plugin-trellis-statusline
	url = https://github.com/CJ-SH/dsh-plugin-trellis-statusline.git
[submodule "dsh-plugin-ptc-bash"]
	path = dsh-plugin-ptc-bash
	url = https://github.com/CJ-SH/dsh-plugin-ptc-bash.git
[submodule "dsh-plugin-web-search"]
	path = dsh-plugin-web-search
	url = https://github.com/CJ-SH/dsh-plugin-web-search.git
