[submodule "dsh-plugin-ollama-usage"]
	path = dsh-plugin-ollama-usage
	url = https://github.com/CJ-SH/dsh-plugin-ollama-usage.git
[submodule "dsh-plugin-trellis-statusline"]
	path = dsh-plugin-trellis-statusline
	url = https://github.com/CJ-SH/dsh-plugin-trellis-statusline.git
